<input type="radio" id="showComponentA" name="showComponent" value="componentA" (change)="displayComponent('componentA')"/>
<label for="showComponentA">组件 A</label>

<input type="radio" id="showComponentB" name="showComponent" value="componentB" (change)="displayComponent('componentB')"/>
<label for="showComponentB">组件 B</label>

<input type="radio" id="showComponentC" name="showComponent" value="componentC" (change)="displayComponent('componentC')"/>
<label for="showComponentC">组件 C</label>

<ng-template appDynamicComponent></ng-template>
